body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  color: #293264;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.no-quiz{
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 0.7rem;
}

.start-game {
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-family: inherit;
  font-weight: bold;
  background-color: #4D5B9E;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz--title {
  max-width: 60ch;
}
.line-break {
  width: 95%;
  margin-top: 15px;
}

.answer-button-holder {
  display: flex;
  flex-direction: row;
}
.button--answer {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.02rem; 
  border: none;
  background-color: rgb(111, 111, 171);
  color: white;
  margin-right: 30px;
  border-radius: 6px;
  padding: 8px 20px;
  width: fit-content;
  cursor: pointer;
}
.submit-button {
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-family: inherit;
  font-weight: bold;
  background-color: #4D5B9E;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 30px;
}

.selected {
  background-color: rgb(37, 37, 82);
}

.submit--holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.result {
  display: block;
  margin-top: 45px;
  margin-right: 10px;
}
.result .show {
  display: block;
}

.submit--button {
  margin-top: 30px;
  border: none;
  padding: 4px 8px;
  border-radius: 8px;
  font-family: inherit;
  font-weight: bold;
  background-color: #273058;
  color: white;
  font-size: 1.0rem;
  cursor: pointer;
}

.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}

.final-submit-button {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  padding: 4px 8px;
  border-radius: 8px;
  font-family: inherit;
  font-weight: bold;
  background-color: #273058;
  color: white;
  cursor: pointer;

}